<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.absensiqr">

    <!-- CAMERA untuk scan QR -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Internet untuk Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Opsional Android 13 (notifikasi) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- CameraX (WAJIB) — diset false agar emulator tetap bisa jalan -->
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Absensiqr">

        <!-- ML Kit Barcode Scanner -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <!-- Launcher -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login & Register -->
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />

        <!-- Dosen -->
        <activity android:name=".DosenMainActivity" android:exported="false" />
        <activity android:name=".DaftarAbsenActivity" android:exported="false" />
        <activity android:name=".FormMatkulActivity" android:exported="false" />
        <activity android:name=".QRGenerateActivity" android:exported="false" />

        <!-- Mahasiswa -->
        <activity android:name=".MahasiswaMainActivity" android:exported="false" />

        <!-- Scanner WAJIB exported agar kamera MLKit bisa aktif -->
        <activity android:name=".QRScannerActivity" android:exported="true" />

    </application>

</manifest>
